#panel.transparent
{
    background-color: transparent;
    transition-duration: 250ms;
}
#panel.transparent .panel-corner
{
    -panel-corner-background-color: transparent;
}

#panel.dialogPopup
{
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 200ms;
}

/* The following is needed for GS <= 3.30 */
#panel.solid
{
    background-color: black;
}
#panel.solid .panel-corner
{
    -panel-corner-background-color: black;
}

/* The following is needed for GS == 3.38 */
.panel-button
{
    text-shadow: 1px 1px 2px black;
}

.system-status-icon, .popup-menu-arrow, .app-menu-icon > StIcon
{
    icon-shadow: 1px 1px 2px black;
}
